nav{
    background-color: blanchedalmond;
    padding: 15px;
}

ul{
    display: flex;
}

ul li{
    margin-right: 20px;
    list-style: none;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
}

.active{
    border-bottom: 2px solid green;
    padding-bottom: 3px;
}
